

#map {

  width: 100vw + @width-text;
  height: 100vh;

  .leaflet-right {
    right: @width-text;
  }

  .leaflet-popup {
    pointer-events: none;
  }

  .leaflet-popup-content-wrapper {
    .border-radius(2px);
  }

  .leaflet-popup-content {
    margin: 5px;
    font-weight: bold;
  }

  // Section labels:
  .leaflet-div-icon {

    padding: 4px;
    background: none;
    border: none;
    white-space: nowrap;
    font-family: "Source Sans Pro";
    font-size: 12px;
    text-shadow: 0 0 10px white;

    &.highlight {
      color: darken(orange, 5%);
    }

  }

}
