

#mini-doc {

  position: fixed;
  width: 30px;
  height: 200px;
  z-index: @zindex-map+1;
  left: @width-text;
  top: 0;
  margin: 20px;

  background: rgba(245,245,245,0.95);

  svg {
    width: 100%;
    height: 500px;
  }

  .section {
    fill: darken(white, 8%);
  }

}
