

#text {

  left: 2vw;
  top: 0;
  position: fixed;
  width: @width-text - 2vw;
  height: 100vh;
  padding: 1em 2em;
  overflow: scroll;

  background: rgba(245,245,245,0.95);
  z-index: @zindex-map+1;

  h3 {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
  }

  h3.heading i {
    position: relative;
    top: 3px;
    font-size: 1.4em;
    padding: 5px;
  }

  p {
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
  }

  .burial {

    border-bottom: 2px solid lighten(black, 30%);
    padding: 0 3px;
    cursor: pointer;

    &.highlight {
      background: lighten(black, 30%);
      color: white;
    }

  }

  .section {

    &.highlight {
      .heading {
        color: @color-highlight;
      }
    }

    &.selectable {
      cursor: pointer;
    }

  }

  .tooltip {
    position: absolute;
    font-size: 12px;
  }

}
