<!doctype html>
<html lang="en">

<head>
  <title>Chinese Graves</title>
  <link rel="stylesheet" href="dist/style.css">
</head>

<body>
  <div id="text"></div>
  <div id="map"></div>
  <script src="//localhost:35729/livereload.js"></script>
  <script src="dist/script.js"></script>
</body>

</html>
